body{
    background-image: url('pastWallpaper.png');
    background-color: rgb(42, 81, 181);
    color: rgb(255, 255, 255) ;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* width: 3500vw;
    height: 2500vh;
    right: 0%;
    top: 0%; */

    overflow: hidden;
}
@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1;} 
  }
  
img {
    position: absolute;
    top: 200px;
    left: 200px;
    transform: translate(-50%, -50%) scale(1);
    animation: fadein 0.5s;
}
.pastBackground{
    position: absolute;
    width: 100%;
    height: auto;
    left: 50%;
    top: 100%;
    z-index: -10;
}
.Backgroundimage-container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.video-container1{
    display: block;
    position: absolute;
    top: 4%;
    left: 4%;
    z-index: -11;
    width:37%;
    height: auto;   
}
.video-container2{
    display: block;
    position: absolute;
    bottom: 2%;
    right: 4%;
    z-index: -11;
    width: 29%;
    height: auto;   
}
.Presenthtml {
    position: absolute;
    width: 87px;
    height: 43px;
    right:0;
    top:45%;
    background-image: url(btn-present.png);
    z-index: 10;
}
.intofuturehtml {
    position: absolute;
    width: 87px;
    height: 43px;
    right:0;
    top:50%;
    background-image: url(btn-future.png);
    z-index: 10;
}
.sticker{
    position: absolute;
    width: 100%;
    height: 43px;
    right:0%;
    top:35%;
    z-index: 10;
}